<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_address_collect_totals_after">
        <observer name="elegento_boxnow_observer_frontend_sales_quoteaddresscollecttotalsafter_sales_quote_address_collect_totals_after" instance="Elegento\BoxNow\Observer\Frontend\Sales\QuoteAddressCollectTotalsAfter"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="elegento_boxnow_observer_sales_ordershipmentsaveafter_sales_order_shipment_save_after" instance="Elegento\BoxNow\Observer\Sales\OrderShipmentSaveAfter"/>
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer instance="Elegento\BoxNow\Observer\Sales\ModelServiceQuoteSubmitBefore" name="elegento_observer_sales_modelservicequotesubmitbefore_sales_model_service_quote_submit_before"/>
    </event>
</config>
